body {
}


table {
    border-collapse: collapse;
    width: 500px;
}
th, td {
    border: 1px solid;
    border-color: white;
    height: 40px;
    padding: 10px;
}

thead {
    background-color: #888888;
    color: white
}

tr:nth-child(even) {
    background-color: #efefef
}

tbody tr:nth-child(odd) {
    background-color: #c0c0c0;
}

.red {
    background-color: #ffbbbb;
}